.bgimg{
    background-image: url("../Assets/Login.png"); 
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}   
.bgColor{
    background-color: #737c6e !important;
}
.Color{
    color: #788573 !important;
}

body {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

.fontSize{
    font-size: 14px;
}

.eyeIcon {
    right: 10px; 
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
input:hover{
    border: 1px solid black;
}
input:focus{
    border: 1px solid #6f7f68 !important;
    outline: none !important;

}