.SideColor{
    color: #8f958c !important;
}

.toggle-icon {
    transition: transform 0.3s ease;
  }
  
  .toggle-icon.open {
    transform: rotate(180deg);
  }

  .accordion-item.h2.button.accordion-button{
    background-color: rgb(255, 255, 255) !important;
    border: none !important;
  }