.SideColor{
    color: #8f958c !important;
}

.toggle-icon {
    transition: transform 0.3s ease;
    cursor: pointer;

  }
  
  .toggle-icon.open {
    transform: rotate(90deg);
    cursor: pointer;
  }

 .Management{
  cursor: pointer; 
 }